<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Answer Questions</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/answer.css') }}">
</head>

<body>
    <div class="main">
        {% for i in data %}
        <div class="question-wrapper">
            
            <div class="question-box">
                <div class="question">
                    <span>{{i.question}}</span>

                </div>
                <div class="answer-container">
                    <div class="answer">
                        <input type="text" placeholder=" Type your answer here.." name="" id="user-input">
                        <br>
                        <input type="button" id="submit" value="Submit">
                    </div>
                    <div class="show-answer">
                        <div class="correct-answer">
                            <span class="answer-value"> {{i.answer}}</span></span>
                        </div>
                    </div>
                </div>
                    
            </div>
            {% endfor %}
            <a href='/'>go back to home page</a>
    </div>

    <script src="" async defer></script>
</body>

</html>